In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("kindle_reviews.csv")
data.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

In [3]:
data = data.dropna()

In [4]:
print('length of data is', len(data))

length of data is 978780

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978780 entries, 0 to 982618
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      978780 non-null  int64
 1   asin            978780 non-null  object
 2   helpful         978780 non-null  object
 3   overall         978780 non-null  int64
 4   reviewText      978780 non-null  object
 5   reviewTime      978780 non-null  object
 6   reviewerID      978780 non-null  object
 7   reviewerName    978780 non-null  object
 8   summary         978780 non-null  object
 9   unixReviewTime  978780 non-null  int64
dtypes: int64(3), object(7)
memory usage: 82.1+ MB

In [6]:
data["reviewTime"] = pd.to_datetime(data["reviewTime"])

In [7]:
products = data['overall'].groupby(data['asin']).count()
print("Number of Unique Products in the Kindle Category = {}".format(products.count()))

Number of Unique Products in the Kindle Category = 61932

In [8]:
# Top 10 Reviewed Products
sorted_products = products.sort_values(ascending=False)

print("Top 10 Reviewed Products:\n")
print(sorted_products[:10], end='\n\n')
print('Most Reviewed Product, B00BTIDW4S - has {} reviews.'.format(products.max()))

Top 10 Reviewed Products:

asin
B00BTIDW4S    781
B006GWO5WK    647
B00BT0J8ZS    516
B00JDYC5OI    502
B00H0V069M    481
B00BTIDXVU    454
B00BSX4U04    452
B00BTIDOO6    428
B007R5YDYA    422
B005ME39HU    394
Name: overall, dtype: int64

Most Reviewed Product, B00BTIDW4S - has 781 reviews.

In [9]:
# Most Reviewed Kindle Product is a The Mating: The Original Law of the Lycans Story (B00BTIDW4S)
# Second Most Reviewed Kindle Product is the Amazon Kindle 9W PowerFast Adapter for Accelerated Charging (B006GWO5WK)
# Third Most Reviewer Kindle Product is Bonded (Law of the Lycans Book 4)(B00BT0J8ZS)

In [10]:
# Least 10 Reviewed Products
print("Least 10 Reviewed Products:\n")
print(sorted_products[10:], end='\n\n')
print('Least Reviewed Products are: B008681Y30, B0086824IE, B00K3LN3E6, B0082UPBWC that have {} review.'.format(products.min()))

Least 10 Reviewed Products:

asin
B005C5YZ86    394
B005DOK8NW    390
B00CCRTFSC    390
B00KF0URBM    354
B004E10W0E    340
             ...
B00BD9ARAU      2
B008681Y30      1
B0086824IE      1
B00K3LN3E6      1
B0082UPBWC      1
Name: overall, Length: 61922, dtype: int64

Least Reviewed Products are: B008681Y30, B0086824IE, B00K3LN3E6, B0082UPBWC that have 1 review.

In [11]:
# The 4 Least Reviewed Kindle Products that received only 1 Review were 
# 2-Year Protection Plan plus Accident Protection for Kindle Fire HD 8.9" 4G (B008681Y30)
# 2-Year Protection Plan plus Accident Coverage for Kindle Fire (Previous Generation) (B0086824IE)
# The Ultimate Guide to Productivity: How To Get More Done In Less Time, And Stop Feeling Overwhelmed (High Achievers) (B00K3LN3E6)
# The Yellow Wallpaper (English Edition) (B0082UPBWC)